@page
@model Medecins.Pages.Texi.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeExigeance[0].nom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TypeExigeance) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TypeExigeanceID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TypeExigeanceID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TypeExigeanceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
