@page
@model Gprojet.Pages.Jalons.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Voulez vous vraiment éffacer?</h3>
<div>
    <h4>Jalon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jalon.nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jalon.nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jalon.Projet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jalon.Projet.ProjetID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jalon.datefinprevue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jalon.datefinprevue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jalon.Resp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jalon.Resp.RespID)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Jalon.JalonID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index"  asp-route-id="@Request.Query["id"]">Retour à la liste</a>
    </form>
</div>
