@page
@model Gprojet.Pages.Jalons.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Jalons</h2>

<p>
    <a asp-page="Create" asp-route-id="@Request.Query["id"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jalon[0].nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jalon[0].Projet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jalon[0].datefinprevue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jalon[0].Resp)
            </th>
            <th>
                Avancement
            </th>
            <th>
                Taches
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jalon) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td class="bg-dark">
                @Html.DisplayFor(modelItem => item.Projet.trigrame)
            </td>
            <td class="bg-success">
                @Html.DisplayFor(modelItem => item.datefinprevue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resp.nom)
            </td>
            <td id="avn" data="@item.JalonID" >
                @{int ctt = 0;}
                 
                @for(var i=0;i<item.Tache.Count;i++){
                    foreach(var val in item.Tache){
                     if (val.datedebuttache!=null && val.datefintache!=null){
                   ctt = ctt +2;
                  
                     }
                    if (val.datedebuttache!=null && val.datefintache==null){
                   ctt = +1;
                  
                     }
               
                    }

                }
                       @if (item.Tache.Count==0 || ctt==0){
                      <p class="bg-danger">0%</p>
                        }
                       
                                     @if (ctt>0 && ctt<item.Tache.Count){
                      <p class="bg-alert">50%</p>
                     }
                     @if (ctt== item.Tache.Count*2 && ctt!=0){
                      <p class="bg-success">100% </p>
                     }
            </td>
            <td  >
                @Html.DisplayFor(modelItem => item.Tache.Count)
            </td>
            <td>
                <a class="btn bg-info" asp-page="../Taches/Index" asp-route-id="@item.JalonID">Voir Taches</a> |
                <a class="btn bg-danger" asp-page="../Taches/Create" asp-route-id="@item.JalonID">Créer Tache</a> |
                <a asp-page="./Edit" asp-route-id="@item.JalonID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JalonID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JalonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {

<script>
$(document).ready(function(){


var listch =$(".df");

for (i=0;i<listch.length;i++){
var id = listch[i].getAttribute("id");
console.log(id);
getdatefinal(id);
}

function getdatefinal(id){
     $.get("api/Jalon/Maxdate"+id, function(data, status){
         var d = data.slice(0,10);

$('.df#'+id).text(d);        
        });

}


});
</script>



}