@page
@model Gprojet.Pages.Jalons.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Jalons</h2>

<p>
    <a asp-page="Create" asp-route-id="@Request.Query["id"]">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jalon[0].nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jalon[0].Projet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jalon[0].datefinprevue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jalon[0].Resp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jalon) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projet.ProjetID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datefinprevue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resp.RespID)
            </td>
            <td>
                <a class="btn bg-info" asp-page="../Taches/Index" asp-route-id="@item.JalonID">Voir Taches</a> |
                <a class="btn bg-danger" asp-page="../Taches/Create" asp-route-id="@item.JalonID">Créer Tache</a> |
                <a asp-page="./Edit" asp-route-id="@item.JalonID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JalonID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JalonID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
