@page
@model Medecins.Pages.Projets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Projet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Projet.nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projet.nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projet.trigrame)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projet.trigrame)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projet.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projet.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Projet.resp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Projet.resp.RespID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Projet.ProjetID">Edit</a> |
    <a asp-page="./Index">Retour à la liste</a>
</div>
