@page
@model Medecins.Pages.Projets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Créer un noveau Projet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projet[0].nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projet[0].trigrame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projet[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projet[0].resp)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Projet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trigrame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resp.nom)
            </td>
            <td>
                <a class="btn bg-info" asp-page="../Exigeances/Create" asp-route-id="@item.ProjetID">Créer Exigeance</a> |
                <a class="btn bg-danger"  asp-page="../Exigeances/Index" asp-route-id="@item.ProjetID">Voir Exigeances</a> |
                 <a class="btn bg-info" asp-page="../Jalons/Create" asp-route-id="@item.ProjetID">Créer Jalon</a> |
                 <a class="btn bg-danger"  asp-page="../Jalons/Index" asp-route-id="@item.ProjetID">Voir Jalons</a> |
                <a asp-page="./Edit" asp-route-id="@item.ProjetID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProjetID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProjetID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
