@page
@model Medecins.Pages.Projets.IndexModel

@{
    ViewData["Title"] = "Index";
    int Ccolor =0;
    string[] colors = {"bg-primary", "bg-success", "bg-info", "bg-warning", "bg-danger"};
    int tdc = 0;
    int tdf = 0 ; 
    int nbj = 0 ;
    int tott  = 0 ;
}

<h2 class="@colors[3]">Projets</h2>

<p>
    <a asp-page="Create">Créer un noveau Projet</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projet[0].nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projet[0].trigrame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projet[0].description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projet[0].resp)
            </th>
            <th>
            Jalons
            </th>
            <th>
            Exigeances
            </th>
              <th>
               Date prevue Fin
            </th>
              <th>
               avancement
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Projet) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td class="@colors[Ccolor]">
                @Html.DisplayFor(modelItem => item.trigrame)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resp.nom)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Jalon.Count)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exigeance.Count)
            </td>
             <td>
               <p class="df" id="@item.ProjetID"></p>
            </td>
            <td id="avcm">
              @foreach (var item2 in await Model.GetTacheAsyn(item.ProjetID))
{
     nbj = nbj +1;
     if (item2.Tache.Count>0)
    {
    @foreach (var item1 in item2.Tache.Where(x=>x.datedebuttache!=null && x.datefintache==null))
    {
        tdc = tdc +1;
    }
    }
    
    if (item2.Tache.Count>0)
    {
    @foreach (var item1 in item2.Tache.Where(x=>x.datedebuttache!=null && x.datefintache!=null))
    {
        tdf = tdf +2;
    }
    }

    if (item2.Tache.Count>0)
    {
        
    @foreach (var item1 in item2.Tache)
    {
        tott = tott +2;
    }
    }
}


@if (tott>0)
{
    @((100*(tdf+tdc)/tott)+"%")
    tdc = 0;
    tdf = 0 ; 
    nbj = 0 ;
    tott  = 0 ;
} else{

    <p>0%</p>
}

            </td>

            <td>
          
 <ul class="navbar-nav bg-success" >
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Exigeances
      </a>
      <div class="dropdown-menu">
 <a class="btn bg-info" asp-page="../Exigeances/Create" asp-route-id="@item.ProjetID">Créer Exigeance</a> 
               <a class="btn bg-danger"  asp-page="../Exigeances/Index" asp-route-id="@item.ProjetID">Voir Exigeances</a> 
      </div>
    </li>
  </ul>


   <ul class="navbar-nav bg-danger">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Jalons
      </a>
      <div class="dropdown-menu">
<a class="btn bg-info" asp-page="../Jalons/Create" asp-route-id="@item.ProjetID">Créer Jalon</a> 
                 <a class="btn bg-danger"  asp-page="../Jalons/Index" asp-route-id="@item.ProjetID">Voir Jalons</a> 
      </div>
    </li>
  </ul>
 
   <ul class="navbar-nav bg-warning">
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
         Projets
      </a>
      <div class="dropdown-menu"><a asp-page="./Edit" asp-route-id="@item.ProjetID">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.ProjetID">Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.ProjetID">Delete</a> 
                  </div>
    </li>
  </ul>
              
                 
                
            </td>
        </tr>

        if (Ccolor<colors.Length){
   Ccolor = Ccolor+1;
        }else{
            Ccolor=0;
        }
}
  
    </tbody>
</table>


@section scripts {

<script>
$(document).ready(function(){


var listch =$(".df");

for (i=0;i<listch.length;i++){
var id = listch[i].getAttribute("id");

getdatefinal(id);
}
getjalons();
//console.log((100/3).toFixed(2));
function getjalons(){
     $.get("api/Jalon/bypr2", function(data, status){
         var tab = [];
 for(var i=0;i<data.length;i++){
     tab[i] = data[i].jalonID;
    
 }
var tab2=[];

 for(var i=0;i<tab.length;i++){
var tt=0;
 var countx = 0;
 var county = 0;
 var countz = 0;
     $.get("/api/Tache/gtbj"+tab[i], function(data, status){
         countx += data[0];
       
         console.log("cx "+countx);
         tab2.push(data);
     });
 }
   console.log("cx1 "+countx);

var tab3 = tab2;
console.log(tab3);


console.log(countx+ "x "+ county + " y" + countz+ " z");   

});


};


function getdatefinal(id){
     $.get("api/Jalon/Maxdate"+id, function(data, status){
     if(status=='success'){
                var d = data.slice(0,10);

$('.df#'+id).text(d); 
     }
        
        });

}


});
</script>



}