@page
@model Medecins.Pages.Exigeances.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Exigeance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Exigeance.nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exigeance.nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exigeance.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exigeance.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exigeance.Projet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exigeance.Projet.ProjetID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Exigeance.TypeExigeance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Exigeance.TypeExigeance.nom)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Exigeance.ExigeanceID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
